@page "/about"

<h3>About Us</h3>

<p>
    Добро пожаловать в нашу больницу. Здесь мы предоставляем лучшие медицинские услуги.
    Наша миссия – предоставить сострадательную и качественную помощь всем пациентам.
</p>
