@page "/"
@inject IJSRuntime js
@using MudBlazor
<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12 text-center">
        <h2 class="fw-bolder">Добро пожаловать в <span class="text-black">Госпиталь</span></h2>
    </div>
   @*  <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <span> Вы не вошли в систему. Пожалуйста <a class="fw-bolder" href="/login">Нажмите</a>Вход</span>
                    </NotAuthorized>
                    <Authorized>
                        <span>Вошёл как <b>Привет,@context.User.Identity.Name</b>.<a class="fw-bolder" href="/logout">Нажмите</a>Выход</span>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div> *@

<MudContainer>
    <MudGrid>
        <MudItem xs="12" class="image-slider">
            <MudCarousel Class="mud-width-full" Style="height:60vh;" TData="string" AutoCycle="true">
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:200%">
                        <img src="images/hospital5.jpg" alt="Hospital Image 1" class="carousel-image" />
                    </div>
                </MudCarouselItem>
               <MudCarouselItem Transition="Transition.Fade">
                    <div class="d-flex" style="height:200%">
                        <img src="images/hospital4.jpg" alt="Hospital Image 2" class="carousel-image" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="bounceIn" CustomTransitionExit="bounceOut">
                    <div class="d-flex" style="height:200%">
                        <img src="images/hospital7.jpg" alt="Hospital Image 3" class="carousel-image" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="backInDown" CustomTransitionExit="backOutDown">
                    <div class="d-flex" style="height:200%">
                        <img src="images/hospital3.jpg" alt="Hospital Image 4" class="carousel-image" />
                    </div>
                </MudCarouselItem>
            </MudCarousel>
        </MudItem>
        <MudItem xs="12" class="services">
                <MudText Typo="Typo.h4" Align="Align.Center">Наши услуги</MudText>
            <MudGrid>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Elevation="2" Class="pa-4">
                        <MudIcon Icon="@Icons.Material.Filled.LocalHospital" Size="Size.Large" />
                            <MudText Typo="Typo.subtitle1">Неотложная помощь</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Elevation="2" Class="pa-4">
                        <MudIcon Icon="@Icons.Material.Filled.MedicalServices" Size="Size.Large" />
                            <MudText Typo="Typo.subtitle1">Амбулаторные услуги</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Elevation="2" Class="pa-4">
                        <MudIcon Icon="@Icons.Material.Filled.LocalPharmacy" Size="Size.Large" />
                            <MudText Typo="Typo.subtitle1">Аптека</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Elevation="2" Class="pa-4">
                        <MudIcon Icon="@Icons.Material.Filled.Spa" Size="Size.Large" />
                            <MudText Typo="Typo.subtitle1">Реабилитация</MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudContainer>
</div>
