@page "/addappointment"
@using Microsoft.AspNetCore.Components.Forms
@if(doctorList!=null)
{
    <div class="row">
        <div class="col-lg-4 offset-lg-4 pt-4 border">
            <EditForm Model="@appointmentRequest" OnValidSubmit="Create" FormName="PositionForm">
                <DataAnnotationsValidator />
                <div class="mb-3 text-center flex-column">
                    <h3>Встреча</h3>
                </div>
                <div class="mb-3">
                    <label>Имя</label>
                    <InputText @bind-Value="appointmentRequest.Name" class="form-control" />
                    <ValidationMessage For="() => appointmentRequest.Name" />
                </div>
                <div class="mb-3">
                    <label>Фамилия</label>
                    <InputText @bind-Value="appointmentRequest.lastName" class="form-control" />
                    <ValidationMessage For="() => appointmentRequest.lastName" />
                </div>
                <div class="mb-3">
                    <label>Email</label>
                    <InputText @bind-Value="appointmentRequest.Email" class="form-control" />
                    <ValidationMessage For="() => appointmentRequest.Email" />
                </div>
                <div class="mb-3">
                    <label>Номар телефон</label>
                    <InputText @bind-Value="appointmentRequest.PhoneNumber" class="form-control" />
                    <ValidationMessage For="() => appointmentRequest.Email" />
                </div>
                <div class="mb-3">
                    <label>Врач</label>
                    <select @bind="appointmentRequest.DoctorId" class="form-control">
                        @foreach (var pos in doctorList)
                        {
                            <option value="@pos.Id">@pos.FirstName @pos.LastName</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label>Дата и время регистрации</label>
                    <input type="datetime-local" @bind="appointmentRequest.AppointmentDate" class="form-control" />
                    <ValidationMessage For="() => appointmentRequest.AppointmentDate" />
                </div>
                <div class="mb-3 d-grid gap-2">
                    <button type="submit" class="btn btn-outline-success">Сохранить</button>
                    <button type="button" @onclick="Back" class="btn btn-primary">Назад</button>
                </div>
            </EditForm>
        </div>
    </div>
}
@code {
    [Inject]
    private CustomAuthenticationStateProvider? authenticationStateProvider { get; set; }

    private string? authToken;
    private AppointmentRequest appointmentRequest = new AppointmentRequest();

    private IEnumerable<DoctorResponse>? doctorList;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            authToken = await authenticationStateProvider.GetToken();
            if (authToken != null)
            {
                _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", authToken);
                doctorList = await _httpClient.GetFromJsonAsync<List<DoctorResponse>>("api/Doctor");
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
    protected async Task Create()
    {
        try
        {
            authToken = await authenticationStateProvider.GetToken();
            if (authToken != null)
            {
                _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", authToken);
                var response = await _httpClient.PostAsJsonAsync<AppointmentRequest>("api/Appointment", appointmentRequest);
                if (response.IsSuccessStatusCode)
                {
                    await _js.InvokeVoidAsync("alert", "Seccessfull save your data");
                    appointmentRequest = new AppointmentRequest();
                }
                else
                {
                    await _js.InvokeVoidAsync("alert", "Ошибка");
                }
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
    private void Back()
    {
        _navigationManager.NavigateTo("/appointment");
    }
}
